<nav class="nav-container" data-lh-id="bottom-navigation">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="./home.html" class="nav-link" data-lh-id="nav-home">
                <div class="nav-icon">
                    <div class="circle-icon"></div>
                </div>
                <span class="nav-text">Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="./transactions.html" class="nav-link" data-lh-id="nav-transactions">
                <div class="nav-icon">
                    <div class="circle-icon"></div>
                </div>
                <span class="nav-text">Transacciones</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="./budget.html" class="nav-link" data-lh-id="nav-budget">
                <div class="nav-icon">
                    <div class="circle-icon"></div>
                </div>
                <span class="nav-text">Presupuesto</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="./profile.html" class="nav-link" data-lh-id="nav-profile">
                <div class="nav-icon">
                    <div class="circle-icon"></div>
                </div>
                <span class="nav-text">Perfil</span>
            </a>
        </li>
    </ul>
</nav>